<div id="<%= dom_id(comment) %>" class="bg-gray-100 rounded-lg p-4 mb-4">
  <div class="flex justify-between items-center">
    <p class="text-gray-800"><strong><%= comment.user.username %>:</strong> <%= comment.body %></p>
    <% if comment.user == current_user %>
      <button class="text-red-500 ml-2" onclick="showConfirmationModal('<%= post_comment_path(comment.post_id, comment) %>')">Delete</button>
    <% end %>
  </div>
  <p><%= time_ago_in_words(comment.created_at) %></p>
  <hr class="mt-2 border-gray-200">
</div>

<!-- Confirmation Modal -->
<div id="confirmation-modal" class="fixed inset-0 hidden bg-gray-600 bg-opacity-50 flex items-center justify-center">
  <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-md">
    <h2 class="text-xl font-semibold mb-4">Are you sure?</h2>
    <p class="mb-6">Do you really want to delete this comment? double click to confirm. this action cannot be undone.</p>
    <div class="flex justify-end">
      <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded mr-2" onclick="hideConfirmationModal()">Cancel</button>
     <%= button_to 'Delete', post_comment_path(comment.post_id, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mr-2" %>
    </div>
  </div>
</div>

<script>
  function showConfirmationModal(deleteUrl) {    
    document.getElementById('confirmation-modal').classList.remove('hidden');
  }

  function hideConfirmationModal() {
    document.getElementById('confirmation-modal').classList.add('hidden');
  }
</script>
