<!-- app/views/home/index.html.erb -->
<div class="container mx-auto px-4 py-8 flex flex-col md:flex-row">
  <!-- Left Column -->
  <div class="w-50 md:w-1/3 pr-8 lg:w-1/3 md:block hidden">
    <!-- Search Bar -->
    <div class="mb-8">
      <input type="text" placeholder="Search..." class="w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500">
    </div>

    <!-- Suggested Users Section -->
    <div class="mb-8">
      <h2 class="text-2xl font-bold mb-4">Suggested Users</h2>
      <div class="grid grid-cols-1 gap-4">
        <% @users.each do |user| %>
          <div class="bg-white rounded-lg shadow-md p-4 flex items-center">
            <div class="overflow-hidden">
              <%= link_to home_user_path(user) do %>
                <h3 class="text-xl font-semibold whitespace-nowrap"><%= user.username %></h3>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= render 'home/footer' %>  
  </div>

  <!-- Right Column -->
  <div class="w-50 md:w-2/3 lg:w-2/3">
    <div class="overflow-y-auto" style="max-height: calc(100vh - 128px);"> <!-- Adjust max-height as needed -->
      <!-- Featured Posts Section -->
      <div class="mb-8">
        <div class="grid grid-cols-1 gap-4">
          <% @posts.each do |post| %>
            <div id="post_<%= post.id %>" class="bg-white rounded-lg shadow-md p-4 mb-4">
              <%= link_to post_path(post) do %>
                <h5 class="font-semibold mb-2"><%= post.title %></h5>
                <% if post.image.attached? %>
                  <div class="mb-5">
                    <%= image_tag(post.image, class: "w-full h-24 rounded-lg shadow-md object-cover") %>
                  </div>
                <% end %>
              <% end %>
                
              <%= link_to home_user_path(post.user), data: { turbo_frame: "_top" }, class: "block text-gray-900" do %>
                <p><%= post.user.username %></p>
              <% end %>
              
              <p><%= time_ago_in_words(post.created_at) %> ago</p>

              <%= turbo_frame_tag "post_#{post.id}" do %>
                <div class="flex justify-between items-center border-t border-gray-200 pt-2">
                  <div id="like_button_<%= post.id %>" class="mt-4">
                    <%= render partial: "likes/like_button", locals: { post: post , comment: @comment } %>
                  </div>
                  <div>
                    <%= link_to "#", data: { turbo_frame: "comments_modal_#{post.id}" }, class: "flex items-center text-gray-600 hover:text-blue-500 comments-button", data: { post_id: post.id, action: "comments-modal#open" } do %>
                      <i class="fas fa-comment mr-1"></i> Comment
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


